<div class="parent">
  <div class="child">
    <h2>Hi, Welcome to <b>Find Your food!!!
    </b></h2>
    <span class="desc">This application finds Recipe and its place for your food!</span><br><br><br>
    <form>
      <div class="form-group">
        <label>For more updates!!</label><br><br>
        <div class="form-group col-lg-4 col-lg-offset-4">
          <input type="text" class="form-control" placeholder="name@email.com" />
        </div><br>
        <button class="btn btn-dark col-lg-2 col-lg-offset-5 gobtn ">Submit</button>
      </div>
    </form>
  </div>
</div>
